<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty
        scope="context"
        name="logglyUrl"
        source="LOGGLY_URL"
        defaultValue="" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGGLY"
              class="com.gcu.customermanagement.logging.LogglyAppender">
        <url>${logglyUrl}</url>
    </appender>

    <logger name="com.gcu.customermanagement" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGGLY"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>